.button {
  padding: .75rem 1.5rem;
  background-color: #da1212;
  border-radius: .25rem;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color .2s ;
  cursor: pointer;
}

.button:focus {
  background-color: #f31919;
}